#### OS-generated caches and stres
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#### Intermediate build products
*.o

#### Intermediate Language products
*.dex
*.class

#### Caches
# Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

#### IDE user-config.
# Eclipse
local.properties
# MonoDevelop/Xamarin Studio
*.userprefs
# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
# Xcode
xcuserdata/
*.mode1*
*.pbxuser
*.xccheckout

#### Other VCS
.svn/

#### Project-specific

# config
include/AR/config.h

# iOS build products
lib/libAR*.a
lib/libEden.a
lib/libKPM.a

# Build directories of Android projects.
android/obj/local/armeabi-v7a/objs
android/obj/local/armeabi/objs
android/obj/local/mips/objs
android/obj/local/x86/objs
EclipseProjects/ARBaseLib/bin
EclipseProjects/ARBaseLib/gen
EclipseProjects/ARMovie/bin
EclipseProjects/ARMovie/gen
EclipseProjects/ARMovie/libs/armeabi
EclipseProjects/ARMovie/libs/armeabi-v7a
EclipseProjects/ARMovie/libs/mips
EclipseProjects/ARMovie/libs/x86
EclipseProjects/ARMovie/obj
EclipseProjects/ARNative/bin
EclipseProjects/ARNative/gen
EclipseProjects/ARNative/libs/armeabi
EclipseProjects/ARNative/libs/armeabi-v7a
EclipseProjects/ARNative/libs/mips
EclipseProjects/ARNative/libs/x86
EclipseProjects/ARNative/obj
EclipseProjects/ARNativeES1/bin
EclipseProjects/ARNativeES1/gen
EclipseProjects/ARNativeES1/libs/armeabi
EclipseProjects/ARNativeES1/libs/armeabi-v7a
EclipseProjects/ARNativeES1/libs/mips
EclipseProjects/ARNativeES1/libs/x86
EclipseProjects/ARNativeES1/obj
EclipseProjects/ARNativeOSG/bin
EclipseProjects/ARNativeOSG/gen
EclipseProjects/ARNativeOSG/libs/armeabi
EclipseProjects/ARNativeOSG/libs/armeabi-v7a
EclipseProjects/ARNativeOSG/libs/mips
EclipseProjects/ARNativeOSG/libs/x86
EclipseProjects/ARNativeOSG/obj
EclipseProjects/ARSimple/bin
EclipseProjects/ARSimple/gen
EclipseProjects/ARSimple/libs/armeabi
EclipseProjects/ARSimple/libs/armeabi-v7a
EclipseProjects/ARSimple/libs/mips
EclipseProjects/ARSimple/libs/x86
EclipseProjects/ARSimpleInteraction/bin
EclipseProjects/ARSimpleInteraction/gen
EclipseProjects/ARSimpleInteraction/libs/armeabi
EclipseProjects/ARSimpleInteraction/libs/armeabi-v7a
EclipseProjects/ARSimpleInteraction/libs/mips
EclipseProjects/ARSimpleInteraction/libs/x86
EclipseProjects/ARSimpleNative/bin
EclipseProjects/ARSimpleNative/gen
EclipseProjects/ARSimpleNative/libs/armeabi
EclipseProjects/ARSimpleNative/libs/armeabi-v7a
EclipseProjects/ARSimpleNative/libs/mips
EclipseProjects/ARSimpleNative/libs/x86
EclipseProjects/ARSimpleNative/obj
EclipseProjects/ARSimpleNativeCars/bin
EclipseProjects/ARSimpleNativeCars/gen
EclipseProjects/ARSimpleNativeCars/libs/armeabi
EclipseProjects/ARSimpleNativeCars/libs/armeabi-v7a
EclipseProjects/ARSimpleNativeCars/libs/mips
EclipseProjects/ARSimpleNativeCars/libs/x86
EclipseProjects/ARSimpleNativeCars/obj
EclipseProjects/AssetUnpacker/bin
EclipseProjects/AssetUnpacker/gen
EclipseProjects/DeviceDetails/bin
EclipseProjects/DeviceDetails/gen
EclipseProjects/UnityARPlayer/bin
EclipseProjects/calib_optical/bin
EclipseProjects/calib_optical/gen
EclipseProjects/calib_optical/libs/armeabi
EclipseProjects/calib_optical/libs/armeabi-v7a
EclipseProjects/calib_optical/libs/mips
EclipseProjects/calib_optical/libs/x86
EclipseProjects/calib_optical/obj
EclipseProjects/nftBook/bin
EclipseProjects/nftBook/gen
EclipseProjects/nftBook/libs/armeabi
EclipseProjects/nftBook/libs/armeabi-v7a
EclipseProjects/nftBook/libs/mips
EclipseProjects/nftBook/libs/x86
EclipseProjects/nftBook/obj
EclipseProjects/nftSimple/bin
EclipseProjects/nftSimple/gen
EclipseProjects/nftSimple/libs/armeabi
EclipseProjects/nftSimple/libs/armeabi-v7a
EclipseProjects/nftSimple/libs/mips
EclipseProjects/nftSimple/libs/x86
EclipseProjects/nftSimple/obj

# Visual Studio build files.
VisualStudio/vs100/Debug
VisualStudio/vs100/Debug-StaticCRuntime
VisualStudio/vs100/Release
VisualStudio/vs100/Release-StaticCRuntime
VisualStudio/vs100/x64
VisualStudio/vs120/Debug
VisualStudio/vs120/Debug-StaticCRuntime
VisualStudio/vs120/Release
VisualStudio/vs120/Release-StaticCRuntime
VisualStudio/vs120/x64

# Symlinks in OS X builds.
bin/*.dylib
