#### OS-generated caches and stres
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#### Intermediate build products
*.o

#### Intermediate Language products
*.dex
*.class

#### Caches
# Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

#### IDE user-config.
# Android Studio
local.properties
*.iml
AndroidStudioProjects/**/.gradle/
AndroidStudioProjects/**/.idea/

# MonoDevelop/Xamarin Studio
*.userprefs
# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Xcode
xcuserdata/
*.mode1*
*.pbxuser
*.xccheckout
*.xcscmblueprint

#### Other VCS
.svn/

#### Project-specific

# config
include/AR/config.h
share/artoolkit5-config
Makefile

# iOS build products
lib/libAR*.a
lib/libEden.a
lib/libKPM.a

# Linux/OS X/Windows build products
bin/calib_*
bin/check_id
bin/mk_patt
bin/genTexData
bin/dispImageSet
bin/dispFeatureSet
bin/checkResolution
bin/genMarkerSet
bin/checkImage
bin/listCamera
bin/whiteBalance
lib/SRC/Gl/gsubTest
bin/calib_*.exe
bin/check_id.exe
bin/mk_patt.exe
bin/genTexData.exe
bin/dispImageSet.exe
bin/dispFeatureSet.exe
bin/checkResolution.exe
bin/genMarkerSet.exe

bin/multiCube
bin/multiTest
bin/multiWin
bin/simpleLite
bin/optical
bin/opticalStereo
bin/simpleOSG
bin/simpleTest
bin/stereo
bin/nftSimple
bin/nftBook
lib/libARWrapper.so

bin/multiCube.app/
bin/multiTest.app/
bin/multiWin.app/
bin/simpleLite.app/
bin/optical.app/
bin/opticalStereo.app/
bin/simpleMovie.app/
bin/simpleOSG.app/
bin/simpleTest.app/
bin/stereo.app/
bin/nftSimple.app/
bin/nftBook.app/
bin/ARWrapper.bundle/

bin/multi.exe
bin/multiCube.exe
bin/simpleLite.exe
bin/optical.exe
bin/opticalStereo.exe
bin/simpleMovie.exe
bin/simpleOSG.exe
bin/simple.exe
bin/stereo.exe
bin/nftSimple.exe
bin/nftBook.exe
bin/ARWrapper.dll

# Windows dependent DLLs.
bin/ARvideo.dll
bin/DSVL.dll
bin/glut32.dll
bin/opencv_calib3d2410.dll
bin/opencv_core2410.dll
bin/opencv_features2d2410.dll
bin/opencv_flann2410.dll
bin/opencv_imgproc2410.dll
bin/vcredist_x86.exe
bin/pthreadVC2.dll
bin64/ARvideo.dll
bin64/DSVL.dll
bin64/glut64.dll
bin64/opencv_calib3d2410.dll
bin64/opencv_core2410.dll
bin64/opencv_features2d2410.dll
bin64/opencv_flann2410.dll
bin64/opencv_imgproc2410.dll
bin64/vcredist_x64.exe
bin64/pthreadVC2.dll

bin-winrt-w8_1-arm/
bin-winrt-w8_1-x86/
bin-winrt-w8_1-x64/
bin-winrt-wp8_1-arm/
bin-winrt-wp8_1-x86/
lib/winrt-w8_1-arm/
lib/winrt-w8_1-x86/
lib/winrt-w8_1-x64/
lib/winrt-wp8_1-arm/
lib/winrt-wp8_1-x86/

# Android build products.
android/obj/local/**/objs/
android/obj/local/**/objs-debug/
android/obj/local/**/libar.a
android/obj/local/**/libargsub_es.a
android/obj/local/**/libargsub_es2.a
android/obj/local/**/libaricp.a
android/obj/local/**/libarmulti.a
android/obj/local/**/libarosg.a
android/obj/local/**/libarvideo.a
android/obj/local/**/libar2.a
android/obj/local/**/libARWrapper.so
android/obj/local/**/libeden.a
android/obj/local/**/libkpm.a
android/obj/local/**/libutil.a
android/obj/local/**/libc++_shared.so
android/obj/local/**/libcpufeatures.a
android/libs/**/libARWrapper.so
android/libs/**/libc++_shared.so
AndroidStudioProjects/**/build
AndroidStudioProjects/**/captures
AndroidStudioProjects/**/jniLibs
AndroidStudioProjects/**/libs
AndroidStudioProjects/**/obj
AndroidStudioProjects/**/build

# Visual Studio build files.
VisualStudio/vs100/Debug/
VisualStudio/vs100/Debug-StaticCRuntime/
VisualStudio/vs100/Release/
VisualStudio/vs100/Release-StaticCRuntime/
VisualStudio/vs100/x64/
VisualStudio/vs120/Debug/
VisualStudio/vs120/Debug-StaticCRuntime/
VisualStudio/vs120/Release/
VisualStudio/vs120/Release-StaticCRuntime/
VisualStudio/vs120/x64/
VisualStudio/vs120-winrt/**/ARM/
VisualStudio/vs120-winrt/**/Generated Files/
VisualStudio/vs120-winrt/**/Win32/
VisualStudio/vs120-winrt/**/x64/

# Symlinks in OS X builds.
bin/libopencv_*.dylib
bin/libpng15*.dylib

# ARgsubD3D component
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/Win32/Debug/*
lib/SRC/ARgsubD3D/ARgsubD3D.WindowsPhone/Win32/Debug/*
lib/SRC/ARgsubD3D/ARgsubD3D.WindowsPhone/ARM/Debug/*
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/ARM/Debug/*
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/x64/Debug/*
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/Win32/Release/*
lib/SRC/ARgsubD3D/ARgsubD3D.WindowsPhone/Win32/Release/*
lib/SRC/ARgsubD3D/ARgsubD3D.WindowsPhone/ARM/Release/*
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/ARM/Release/*
lib/SRC/ARgsubD3D/ARgsubD3D.Windows/x64/Release/*

# WinRT samples
examples/simpleLiteWinRT/simpleLiteWinRT.Windows/bin/*
examples/simpleLiteWinRT/simpleLiteWinRT.Windows/obj/*
examples/simpleLiteWinRT/simpleLiteWinRT.WindowsPhone/bin/*
examples/simpleLiteWinRT/simpleLiteWinRT.WindowsPhone/obj/*
examples/multiCubeWinRT/multiCubeWinRT.Windows/bin/*
examples/multiCubeWinRT/multiCubeWinRT.Windows/obj/*
examples/multiCubeWinRT/multiCubeWinRT.WindowsPhone/bin/*
examples/multiCubeWinRT/multiCubeWinRT.WindowsPhone/obj/*
examples/nftSimpleWinRT/nftSimpleWinRT.Windows/bin/*
examples/nftSimpleWinRT/nftSimpleWinRT.Windows/obj/*
examples/nftSimpleWinRT/nftSimpleWinRT.WindowsPhone/bin/*
examples/nftSimpleWinRT/nftSimpleWinRT.WindowsPhone/obj/*
examples/uiControlsWinRT/uiControlsWinRT.Windows/bin/*
examples/uiControlsWinRT/uiControlsWinRT.Windows/obj/*
examples/uiControlsWinRT/uiControlsWinRT.WindowsPhone/bin/*
examples/uiControlsWinRT/uiControlsWinRT.WindowsPhone/obj/*

