# AndroidStudioProjects directory
/*/.gradle
/*/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/*/.idea/workspace.xml
/*/.idea/misc.xml
/*/.idea/vcs.xml
/.idea/libraries
/*/.idea/libraries
/**/jniLibs
/**/libs
/**/obj
/**/build
/**/.idea